### Session 1: Assignment 1

### Task 1

<b>Q1</b> - Install Jupyter notebook and run the first program and share the screenshot of the output.

Answer:

In [12]:
print("Welcome to iNeuron assignment 1")

Welcome to iNeuron assignment 1

<b>Q2</b> - Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Answer:

In [8]:
for i in range(2000,3201):
    if (i%7==0) and (i%5!=0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

<b>Q3</b> - Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

Answer

In [10]:
input1= input("Enter user's first name: ")
input2= input("Enter user's lasr name: ")
user_name=input1+" "+input2
print("Users full name is: ",user_name)
rev1=input1[::-1]
rev2=input2[::-1]
print("Users reverse name is: ",rev1+" ",rev2)

Enter user's first name: Vikas
Enter user's lasr name: Singh
Users full name is:  Vikas Singh
Users reverse name is:  sakiV  hgniS

<b>Q4</b> - Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * π * r 3

Answer

In [14]:
diameter=int(input("Enter the diameter of spahere: "))
r = diameter/2
pai = 22/7
V=4/3*pai*r**3
print("Volume of sphare is: ", V)

Enter the diameter of spahere: 12
Volume of sphare is:  905.142857142857

### Task 2

<b>Q1</b> - Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

Answer

In [16]:
lst_values = input("Enter comma-separated numbers: ")
list= lst_values.split(',')
print("Generated list is:", list)

Enter comma-separated numbers: 10,20,30,40,50
Generated list is: ['10', '20', '30', '40', '50']

<b>Q2</b> - Create the below pattern using nested for loop in Python.
*
** *** **** ***** **** *** **
*

Answer

In [17]:
rows = 5
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

<b>Q3</b> - Write a Python program to reverse a word after accepting the input from the user.

In [18]:
Input_str = input("Input String: ")
print('Reverse of Input String output: ', Input_str[::-1])

Input String: AcadGild
Reverse of Input String output:  dliGdacA

<b>Q4</b> Write a Python Program to print the given string in the format specified in the ​sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens


Sample Output:

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [20]:
print ("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN, ! \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens